<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        .tile {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-color: #f1f1f1;
            margin: 10px;
            text-align: center;
            line-height: 200px;
            font-size: 24px;
            text-decoration: none;
            color: #000;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    <a href="{{ url_for('image_compress') }}" class="tile">Image Compression</a>
    <a href="{{ url_for('pdf_splitter') }}" class="tile">PDF Splitter</a>
</body>

</html>